{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12 mb-3">
        <h1>{{ project.title }}</h1>
        <p class="text-muted">{{ project.description }}</p>
        <p><strong>Responsible:</strong> {{ project.owner.username }}</p>
    </div>
</div>

<div class="col">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span>Test Cases</span>
                <input type="text" id="caseSearch" class="form-control form-control-sm w-50" placeholder="Search test cases..." onkeyup="filterCases()">
                {% if current_user.id == project.owner_id %}
                <a href="{{ url_for('manage_case', project_id=project.id) }}" class="btn btn-sm btn-success ms-2">+ New Test Case</a>
                {% endif %}
            </div>

            <ul class="list-group list-group-flush">
                {% for case in sorted_cases %}
                <li class="list-group-item d-flex justify-content-between align-items-center case-item">
                    <div>
                        <span class="badge text-dark border ms-1 me-2">{{ case.sequence }}</span>
                        
                        <strong>{{ case.title }}</strong>

                        {% if case.priority == prio1 %}
                        <span class="badge bg-danger">{{ case.priority }}</span>
                        {% endif %}

                        {% if case.priority == prio2 %}
                        <span class="badge bg-warning">{{ case.priority }}</span>
                        {% endif %}

                        {% if case.priority == prio3 %}
                        <span class="badge bg-info">{{ case.priority }}</span>
                        {% endif %}
                        
                        {% for t in case.tags %}<span class="badge bg-light text-dark border ms-1">{{ t.name }}</span>{% endfor %}
                        <br><small>{{ case.summary }}</small>
                    </div>
                    
                    {% if current_user.is_admin() or current_user.id == project.owner_id %}
                    <div class="d-flex align-items-center gap-2">
                        
                        <form action="{{ url_for('sort_case', case_id=case.id, direction='up') }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-sm btn-outline-dark" title="Move up" {% if loop.first %}disabled{% endif %}>⬆</button>
                        </form>
                        <form action="{{ url_for('sort_case', case_id=case.id, direction='down') }}" method="POST" style="display:inline;">
                            <button type="submit" class="btn btn-sm btn-outline-dark" title="Move down" {% if loop.last %}disabled{% endif %}>⬇</button>
                        </form>
                        
                        <a href="{{ url_for('manage_case', project_id=project.id, case_id=case.id) }}" class="btn btn-sm btn-outline-primary">Öffnen</a>
                        <form action="{{ url_for('delete_case', case_id=case.id) }}" method="POST" style="display:inline;" onsubmit="return confirm('Delete test case now?');">
                            <button type="submit" class="btn btn-sm btn-outline-danger">X</button>
                        </form>
                    </div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <br><br>
    <div class="col-md-12">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span>Test Plans</span>
                {% if current_user.id == project.owner_id %}
                <a href="{{ url_for('create_run', project_id=project.id) }}" class="btn btn-sm btn-success">+ New Test Plan</a>
                {% endif %}
            </div>
            <ul class="list-group list-group-flush">
                {% for run in project.test_runs %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <div>
                        <strong>{{ run.title }}</strong> 
                        <span class="badge bg-secondary bg-opaque">{{ run.status }}</span>
                        <br>
                        <small>{{ run.start_date }} bis {{ run.end_date }}<br>
                        {% if run.id in statistics %}
                            {% for key, value in statistics[run.id].items() %}
                                {% if key == "total" %}
                                    {{ key }}: {{ value }}, Ergebnisse: 
                                {% endif %}    
                                {% if key == "percentage" %}
                                    {{ value }}%<br>
                                {% endif %}    
                                {% if key == ok %}
                                    <span class="badge bg-success bg-opaque">{{ value }}</span>
                                {% endif %}    
                                {% if key == failed %}
                                    <span class="badge bg-danger bg-opaque">{{ value }}</span>
                                {% endif %}    
                                {% if key == blocked %}
                                    <span class="badge bg-warning bg-opaque">{{ value }}</span>
                                {% endif %}    
                                {% if key == not_tested %}
                                    <span class="badge bg-secondary bg-opaque">{{ value }}</span>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        </small>
                    </div>
                    <a href="{{ url_for('execute_run', run_id=run.id) }}" class="btn btn-sm btn-outline-primary">Open</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% if current_user.is_admin() or current_user.id == project.owner_id %}
<hr class="mt-5">
<div class="d-flex justify-content-between gap-2">
    <a href="{{ url_for('dashboard') }}" class="btn btn-secondary">Back</a>
    
    <form action="{{ url_for('delete_project', project_id=project.id) }}" method="POST" onsubmit="return confirm('Delete test project now');">
        <button type="submit" class="btn btn-danger">Delete Project</button>
    </form>
</div>
{% endif %}

<script>
function filterCases() {
    const search = document.getElementById("caseSearch").value.toLowerCase().trim();
    const items = document.querySelectorAll("li.case-item");

    items.forEach(item => {
        const text = item.innerText.toLowerCase();
        if (text.includes(search)) {
            item.classList.remove("d-none");
        } else {
            item.classList.add("d-none");
        }
    });
}
</script>

{% endblock %}